[submodule "IBX_Engine/vendor/spdlog"]
	path = IBX_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "IBX_Engine/vendor/GLFW"]
	path = IBX_Engine/vendor/GLFW
	url = https://github.com/IBXCODECAT/GLFW_FORK
[submodule "IBX_Engine/vendor/ImGui"]
	path = IBX_Engine/vendor/ImGui
	url = https://github.com/IBXCODECAT/IMGUI_FORK
